In [ ]:
#MovieLens értékelések átalakítása

#links.csv: movieId és imdbId mező összerendelések
#ratings.csv: userId, movieId és rating

#----------CÉL:
#ratings-ben kicserélni a movieId-t imdbId-ra

In [1]:
#csv-k beolvasása
import pandas as pd
links = pd.read_csv('links.csv', usecols=['movieId', 'imdbId'])
print(links)

       movieId   imdbId
0            1   114709
1            2   113497
2            3   113228
3            4   114885
4            5   113041
...        ...      ...
58093   193876    38566
58094   193878  1754787
58095   193880  5847740
58096   193882  4453756
58097   193886  7606620

[58098 rows x 2 columns]

In [2]:
ratings = pd.read_csv("ratings.csv", usecols=['userId', 'movieId', 'rating'])
print(ratings)

          userId  movieId  rating
0              1      307     3.5
1              1      481     3.5
2              1     1091     1.5
3              1     1257     4.5
4              1     1449     4.5
...          ...      ...     ...
27753439  283228     8542     4.5
27753440  283228     8712     4.5
27753441  283228    34405     4.5
27753442  283228    44761     4.5
27753443  283228    54286     4.5

[27753444 rows x 3 columns]

In [3]:
#lookup, az ID behelyettesítése
ratings['imdbId'] = ratings['movieId'].map(links.set_index('movieId')['imdbId'])
print(ratings)

          userId  movieId  rating  imdbId
0              1      307     3.5  108394
1              1      481     3.5  107302
2              1     1091     1.5   98627
3              1     1257     4.5   88794
4              1     1449     4.5  118111
...          ...      ...     ...     ...
27753439  283228     8542     4.5   28772
27753440  283228     8712     4.5   29284
27753441  283228    34405     4.5  379786
27753442  283228    44761     4.5  393109
27753443  283228    54286     4.5  440963

[27753444 rows x 4 columns]

In [4]:
#csak a szüséges oszlopok (userId, imdbId, rating)
df1 = ratings[['userId', 'imdbId', 'rating']]
df1

          userId  imdbId  rating
0              1  108394     3.5
1              1  107302     3.5
2              1   98627     1.5
3              1   88794     4.5
4              1  118111     4.5
...          ...     ...     ...
27753439  283228   28772     4.5
27753440  283228   29284     4.5
27753441  283228  379786     4.5
27753442  283228  393109     4.5
27753443  283228  440963     4.5

[27753444 rows x 3 columns]

In [5]:
#imdbId kiegészítése, hogy 7 karakter hosszú legyen
correct_imdbIds = []

for i in df1['imdbId']:
    x = "{:>07}".format(str(i))
    correct_imdbIds.append(x)

In [6]:
df1['imdbId'] = correct_imdbIds

<ipython-input-6-1ae41f25f489>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['imdbId'] = correct_imdbIds

In [7]:
df1['rating'] = df1['rating']*2

<ipython-input-7-23dcdf172018>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['rating'] = df1['rating']*2

In [8]:
df1

          userId   imdbId  rating
0              1  0108394     7.0
1              1  0107302     7.0
2              1  0098627     3.0
3              1  0088794     9.0
4              1  0118111     9.0
...          ...      ...     ...
27753439  283228  0028772     9.0
27753440  283228  0029284     9.0
27753441  283228  0379786     9.0
27753442  283228  0393109     9.0
27753443  283228  0440963     9.0

[27753444 rows x 3 columns]

In [9]:
#csv exportálás
df1.to_csv('transformed_ratings.csv', index=False, header= False)

In [ ]:
############

In [10]:
#szükséges imdbId-k --> ez alapján szerzem be a filmadatokat
imdb_ids = []
for i in links['imdbId']:
    x = "{:>07}".format(str(i))
    imdb_ids.append(x)

In [11]:
imdb_ids=pd.DataFrame(imdb_ids)

In [12]:
imdb_ids.to_csv('imdb_ids.csv', index=False, header=False)